<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Manage Server</title>
        <link rel="stylesheet" href="/static/dashboard/index.css"/>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <script src="/static/dashboard/stats-carousel.js" defer></script>
        <script src="/static/dashboard/toggle-buttons.js" defer></script>
    </head>
    <body>
        <h1>401 Unauthorized</h1>
        <p>Returning to home or login.</p>
        <script>
            window.location = "/"
        </script>
    </body>
</html>