body {
    background-color: #1c1e20;
    display: flex;
    gap: 10px;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

#sidebar {
    width: 200px;
    height: calc(100dvh - 20px);
    flex-shrink: 0;

    background-color: #2B2D31;
    border-radius: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);

    overflow-y: auto;
}
.sidebar-button {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #B5BAC1;
}
.sidebar-button svg {
    margin-left: 30px;
    flex-shrink: 0;
    width: 25px;
    height: 25px;
}

.sidebar-button:hover {
    transition: 500ms;
    background-color: #35374A;
    color: #5865F2;
    cursor: pointer;
}

/* Below is the CSS for the container, which always accompanies the sidebar. */
#container {
    flex: 1;
    height: calc(100dvh - 20px);

    background-color: #2B2D31;
    border-radius: 20px;

    display: flow-root;
}