<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Manage Server</title>
        <link rel="stylesheet" href="/static/dashboard/index.css"/>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <script src="/static/dashboard/stats-carousel.js" defer></script>
    </head>
    <body>
        {% include "components/sidebar.html" %}
        <div id="container">
            <div id="stats-row">
                {% for stat in stat_list %}
                <div class="stat-item">
                    <h2>{{ stat.name.upper() }}</h2>
                    <hr>
                    <div class="stat-content">
                        <img src="/api/get-statistic/{{ stat.name }}/svg">

                        <div class="stat-item-stat">
                            {% for datum in stat.datums %}
                            <div class="stat-row">
                                <span>{{ datum.title }}</span>
                                <strong>{{ datum.value }}</strong>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="toggle-buttons">
                <div title="Prevents people from saying bad things." class="module-item">
                    <label>TEXT FILTER</label>
                    <button id="toggle-text-filter" class="toggle-btn">OFF</button>
                </div>
                <div title="Prevents users from sending messages too quickly." class="module-item">
                    <label>SPAM FILTER</label>
                    <button id="toggle-spam-filter" class="toggle-btn">OFF</button>
                </div>
                <div title="Prevents lewd images from being sent." class="module-item">
                    <label>IMAGE FILTER</label>
                    <button id="toggle-img-filter" class="toggle-btn">OFF</button>
                </div>
                <div title="Prevents Unauthorized links from being sent." class="module-item">
                    <label>LINK FILTER (WIP)</label>
                    <button style="cursor: not-allowed;" id="toggle-link-filter" class="toggle-btn" disabled>OFF</button>
                </div>
                <div title="Prevents someone from pinging too many people at once" class="module-item">
                    <label>MASS-MENTION FILTER (WIP)</label>
                    <button style="cursor: not-allowed;" id="toggle-mention-filter" class="toggle-btn" disabled>OFF</button>
                </div>
                <div title="Prevents sudden raids of many people joining and all repeating the same message" class="module-item">
                    <label>RAID PROTECTION (WIP)</label>
                    <button style="cursor: not-allowed;" id="toggle-raid-protection" class="toggle-btn" disabled>OFF</button>
                </div>
            </div>
            <div id="warnings_log">
                <div id="warnings_list">
                    {% for warning in guild_warnings %}
                    <span>
                        <strong>#{{ warning.warn_id }}</strong>
                        <small>{{ warning.moderator_name }} warned {{ warning.warned_name }} on {{ warning.time.strftime("%d-%m-%Y, at %I:%M %p") }}</small>
                        <span class="warning-reason">{{ warning.reason }}</span>
                    </span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
    <script>
        let guild_id = "{{ guild_id }}"
    </script>
    <script src="/static/dashboard/toggle-buttons.js"></script>
</html>