<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bot Panel</title>
        <link rel="stylesheet" href="/static/server_list/index.css"/>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
    <body>
        <div id="list">
            {% for guild in server_list %}
            <!--
            It doesn't make much sense here, but here its a user guild web session object, not a guild object.
            So the naming is a bit weird out of context.
            -->
            <a href="/dashboard/{{ guild.guild }}">
                <div class="server">
                    <img src="/api/{{ guild.guild }}/server-icon">
                    <p>
                        {{ guild.guild_name }}
                    </p>
                </div>
            </a>
            {% endfor %}
        </div>
    </body>
</html>